@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="teste">Flávia Oliveira, eu te amo!</h1>

<h2 class="teste">Feliz dia dos namorados!</h2>

<img class="teste" src="https://image.shutterstock.com/image-vector/couple-love-hold-hands-pop-600w-568428577.jpg"  width="400" height="550" />
